<h1>SimulationSummaryByAccount Detail</h1>

<p>
  <strong>IsActive:</strong>
  <%= @simulation_summary_by_account.is_active.presence || '-' %><br />
  <strong>SummarizedAt:</strong>
  <%= display_datetime_string(@simulation_summary_by_account.summarized_at) %>
</p>

<%= link_to 'Edit', edit_simulation_summary_by_account_path(@simulation_summary_by_account) %> |
<%= link_to 'Back', @simulation_summary_by_account.simulation_summary %>
