<h1>SimulationSummaryByAccount Detail</h1>

<%= link_to 'Edit', edit_simulation_summary_by_account_path(@simulation_summary_by_account) %> |
<%= link_to 'Back', @simulation_summary_by_account.simulation_summary %>
