<h1>Editing Simulation Acct Class</h1>

<%= render 'form', simulation_acct_class: @simulation_acct_class %>

<%= link_to 'Show', @simulation_acct_class %> |
<%= link_to 'Back', simulation_acct_classes_path %>
