<h1>Editing Sum By Acct Class Setting</h1>

<%= render 'form', sum_by_acct_class_setting: @sum_by_acct_class_setting %>

<%= link_to 'Show', @sum_by_acct_class_setting %> |
<%= link_to 'Back', sum_by_acct_class_settings_path %>
