<p id="notice"><%= notice %></p>

<p>
  <strong>Sum by account class:</strong>
  <%= @sum_by_acct_class_setting.sum_by_account_class %>
</p>

<%= link_to 'Edit', edit_sum_by_acct_class_setting_path(@sum_by_acct_class_setting) %> |
<%= link_to 'Back', sum_by_acct_class_settings_path %>
