<h1>SimulationSummary Detail</h1>

<p>
  <strong>SimulationName:</strong>
  <%= @simulation_summary.simulation.name %><br />
  <strong>SummarizedAt:</strong>
  <%= display_datetime_string(@simulation_summary.summarized_at) %>
</p>

<%= link_to 'Back', @simulation_summary.simulation %>
