<div class='jumbotron'>
  <h1 class='display-3'>Welcome to Futurama!!</h2>

  <br />

  <p class='lead'>This is the application for your forward-looking financial management.</p>

  <br />

  <hr class='my-4'>

  <p>First, you can make your account and get started from the following page.</p>
  <p class='lead'>
    <%= link_to 'Sign up now!', new_registration_path('user'), class: 'btn btn-primary btn-lg' %>
  </p>
</div>
