<h1>MyPfmWeb Home</h1>

<br />

<h2>Your Economy</h2>

<% if @data.present? %>
  <p>
    <strong><%= "#{main_section_name(@simulation_summary)} balance:" %></strong>
    <%= area_chart @data, points: false, thousands: ',' %>
  </p>
<% else %>
  <p>
    <strong>( ... setting not completed yet:</strong><br /><br />
    1) complete profile at edit_profile page.<br />
    2) create asset (at assets_index page), and do aggregate.<br />
    3) create simulation (at asset page), make simulation_entry, and do generate.<br />
    4) edit simulation_summary setting.<br />
  </p>
<% end %>

<br />

<%= link_to 'Your Assets', assets_path %>
