<p>
  <strong>User:</strong>
  <%= user_display_name(@asset.user) %><br />
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
